body {
  margin: 0;
  padding: 0;
  text-align: left;
  color: #061C37;
  background: -webkit-linear-gradient(top, #e4eff4 0%, #9ac3d6 800px); /* For Safari */
  background: -o-linear-gradient(top, #e4eff4 0%, #9ac3d6 800px); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(top, #e4eff4 0%, #9ac3d6 800px); /* For Firefox 3.6 to 15 */
  background: linear-gradient(top, #e4eff4 0%, #9ac3d6 800px); /* Standard syntax */
}

#container {
  width: 800px;
  margin: 20px auto;

  -webkit-box-shadow: 3px 3px 3px #777;
  -moz-box-shadow: 3px 3px 3px #777;
  box-shadow: 3px 3px 3px #777;
}

#container > a {
  display: block;
}

#header {
  height: 235px;
  background-image: url('images/header-bkg.jpg');
  background-size: 100%;
  background-color: #a8d3fd;
  text-align: right;
}

#header > div {
  display: inline-block;
}

#header-text {
  padding-bottom: 60px;

  font-family: 'Corben', sans-serif;
  /*font-family: 'Myriad Web', sans-serif;*/
  font-weight: bold;
  line-height: 36px;
  color: #ccd;
  font-size: 36px;
  text-align: center;
}

#header-portrait {
  margin: 10px;
  vertical-align: bottom;

  transform: rotate(4deg) translateX(10px) translateY(-15px);
  -ms-transform: rotate(4deg) translateX(10px) translateY(-15px); /* IE 9 */
  -webkit-transform: rotate(4deg) translateX(10px) translateY(-15px); /* Safari and Chrome */

  /*transform: translateY(-10px);*/
  /*-ms-transform: translateY(-10px);*/ /* IE 9 */
  /*-webkit-transform: translateY(-10px);*/ /* Safari and Chrome */
}

#header-portrait img {
  border: solid 10px #fff;
  -webkit-box-shadow: 3px 3px 3px #777;
  -moz-box-shadow: 3px 3px 3px #777;
  box-shadow: 3px 3px 3px #777;
}

#content {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  border-top: solid 1px #78c;
  font-family: 'Corben', sans-serif;
  background-color: #fff;
  color: #124;
}

iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  border-top: solid 10px #fff;
  border-bottom: solid 20px #fff;
}

tr {
  border-top: solid 1px #fff;
  background-color: #f0f0fc;
}

thead th {
  border-right: solid 1px #fff;
  background-color: #ddf;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 6px;
  padding-bottom: 6px;
}

td {
  border-right: solid 1px #fff;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 6px;
  padding-bottom: 6px;
}

thead th, td {
  text-align: center;
}
