body {
  margin: 0;
  padding: 0;
  text-align: left;
  color: #061C37;
  /*background: #fff;*/
  background: -webkit-linear-gradient(top, #e4eff4 0%, #9ac3d6 800px); /* For Safari */
  background: -o-linear-gradient(top, #e4eff4 0%, #9ac3d6 800px); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(top, #e4eff4 0%, #9ac3d6 800px); /* For Firefox 3.6 to 15 */
  background: linear-gradient(top, #e4eff4 0%, #9ac3d6 800px); /* Standard syntax */
}

#container {
  width: 800px;
  margin: 20px auto;

  /*border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;*/

  -webkit-box-shadow: 3px 3px 3px #777;
  -moz-box-shadow: 3px 3px 3px #777;
  box-shadow: 3px 3px 3px #777;
}

#header {
  height: 250px;
  background-image: url('images/header-bkg.jpg');
  background-size: 100%;
  background-color: #a8d3fd;
  text-align: right;

  /*border-top-left-radius: 15px;
  -webkit-border-top-left-radius: 15px;
  -moz-border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  -webkit-border-top-right-radius: 15px;
  -moz-border-top-right-radius: 15px;*/
}

#header > div {
  display: inline-block;
}

#header-text {
  padding-bottom: 40px;

  /*font-family: 'Lobster', sans-serif;*/
  /*font-family: 'Courgette', sans-serif;*/
  /*font-family: 'Berkshire Swash', sans-serif;*/
  /*font-family: 'Merienda One', sans-serif;*/
  /*font-family: 'Aladin', sans-serif;*/
  /*font-family: 'Fondamento', sans-serif;*/
  /*font-family: 'Poller One', sans-serif;*/
  /*font-family: 'Lily Script One', sans-serif;*/
  /*font-family: 'Chelsea Market', sans-serif;*/
  /*font-family: 'Cabin', sans-serif;*/
  font-family: 'Myriad Web', sans-serif;
  font-weight: bold;
  color: #ccd;
  font-size: 24px;
}

#header-portrait {
  margin: 10px;
  vertical-align: bottom;

  transform:rotate(4deg);
  -ms-transform:rotate(4deg); /* IE 9 */
  -webkit-transform:rotate(4deg); /* Safari and Chrome */
}

#header-portrait img {
  border: solid 10px #fff;
  -webkit-box-shadow: 3px 3px 3px #777;
  -moz-box-shadow: 3px 3px 3px #777;
  box-shadow: 3px 3px 3px #777;
}

#content {
  padding-left: 20px;
  padding-right: 20px;
  border-top: solid 1px #78c;
  font-family: 'Cabin', sans-serif;
  background-color: #fff;
  color: #124;
}

iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  border-top: solid 10px #fff;
  border-bottom: solid 20px #fff;
}

tr {
  border-top: solid 1px #fff;
  background-color: #f0f0fc;
}

thead th {
  border-right: solid 1px #fff;
  background-color: #ddf;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 6px;
  padding-bottom: 6px;
}

td {
  border-right: solid 1px #fff;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 6px;
  padding-bottom: 6px;
}

